div.hover
	span Hover Me
	a.social-link(href="https://twitter.com/twitter" target="_blank")
		i.fab.fa-twitter
	a.social-link(href="https://codepen.io/joshuaward/" target="_blank")
		i.fab.fa-codepen
	a.social-link(href="https://www.instagram.com/joshuaward/" target="_blank")
		i.fab.fa-instagram
	a.social-link(href="https://github.com/joshuaward" target="_blank")
		i.fab.fa-github